.git
node_modules/
uploads/
upgrade/
plugins/
twentyfourteen/
twentythirteen/
twentytwelve/
/wp-content/languages/themes/
/wp-admin
/wp-includes/certificates
/wp-includes/css
/wp-includes/fonts
/wp-includes/ID3
/wp-includes/images
/wp-includes/js
/wp-includes/pomo
/wp-includes/SimplePie
/wp-includes/Text
/wp-includes/theme-compat
/*.php
license.txt
readme.html









